
.MetaObjectView {
	border: outset 1px;
	background: #eee;
	padding: 8px;
}
.MetaObjectView .gwt-Label {
	font-weight: bold;
	padding-left: 20px;
}

.MetaObjectView table {
	border-top : dotted 1px;
}

.MTable {
	
	height: 200px;
	overflow: auto;
	border: solid black 1px;
	margin: 8px;
}

.MTable > table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.MTable > table tr:FIRST-CHILD td {
	background-color: lightblue;
	padding: 4px;
	border-right: solid white 1px;
}

.MTable > table tr td {
	padding: 2px 4px 2px 4px;
	border-bottom: solid #eee 1px;
}

.MTable > table tr:HOVER {
	background-color: #eee;
}
.MTable > table td:HOVER {
	background-color: #ddd;
}
